@import './variables.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
}

html {
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.appContent {
  padding-top: 80px;

  @media screen and (max-width: 1000px) {
    padding-top: 8vw;
  }
}