@import './variables.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
}

html {
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
}

.wrapper {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.appContent {
  padding-top: 80px;
}

.homePage-container,
.page404-container {
  height: 650px;
}
