@import './variables.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
}

html {
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
}

.wrapper {
  margin: 0 auto;
}

a {
  text-decoration: none;
}