@import './variables';

.CodeMirror-vars {
  width: 100%;
  font-size: 18px;
}

.editor-toolbar {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid $backgroundGraphiQLPage;

  @media screen and (max-width: 700px) {
    height: 6vh;
  }

  &__options {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin: 0 10px;
  }

  &__options-item {
    text-align: center;
    transition: font 0.2s;

    &:hover {
      font-weight: bold;
      transition: font 0.2s;
    }

    &.activChoise {
      font-weight: bold;
    }

    @media screen and (max-width: 700px) {
      font-size: 2vh;
    }

    @media screen and (orientation: landscape) and (max-width: 800px) {
      font-size: 2.5vw;
    }
  }

  &__button {
    width: 50px;
    height: 30px;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;

    @media screen and (max-width: 700px) {
      width: 6vh;
      height: 4vh;
    }

    @media screen and (orientation: landscape) and (max-width: 800px) {
      width: 6vw;
      height: 4vw;
    }
  }
}

.toolbar-button-icon {
  width: 30px;
  height: 30px;
  transition: filter 0.3s;

  &:hover {
    animation: logoImg 0.5s linear;
    filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
    transition: filter 0.3s;
  }
  
  @media screen and (max-width: 800px) {
    width: 3vh;
    height: 3vh;
  }

  @media screen and (orientation: landscape) and (max-width: 800px) {
    width: 6vw;
    height: 4vw;
  }
}

.tab-section {
  padding: 16px;
}
