@import './variables.scss';

.footer {
  width: 100%;
  background: #f1f1f1;
  position: fixed;
  bottom: 0;

  &__container {
    @media screen and (max-width: 1100px) {
      padding: 0 1vw;
    }
  }

  &__line {
    border: 0.5px solid rgba($headerGreen, 0.3);
    width: 100%;
  }

  &__wrapper {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;

    @media screen and (max-width: 1100px) {
      flex-wrap: wrap;
      font-size: 2vw;
      gap: 1vw;
      padding: 1vw 3vw;
      justify-content: space-between;
    }
  }

  &__school-img {
    background: url('/rs_school_js.svg') center no-repeat;
    width: 100px;
    height: 45px;
    background-size: contain;

    @media screen and (max-width: 1100px) {
      width: 10vw;
      height: 4vw;
    }

    &:hover {
      animation: shake 0.4s ease;
    }
  }
}

.github-link {
  color: black;
  padding: 3px;
  border-radius: 5px;
  transition: color 0.3s, background 0.3s;

  &:hover {
    background-color: $headerGreen;
    color: white;
    transition: color 0.3s, background 0.3s;
  }

  @media screen and (max-width: 1100px) {
    padding: 0.3vw;
  }
}
