@import './variables';

.graphiQLPage {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex: 1;
  // min-height: calc(100vh - 132px);
  height: 88vh;


  &__editor {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    border: 10px solid $backgroundGraphiQLPage;
    margin: 10px 0 10px 10px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__response {
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;
    padding: 16px;
    margin: 10px 32px 10px 0;
    background: $backgroundGraphiQLPage;
    border-left: 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    overflow: scroll;
  }

  &__response-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
}

.query-editor {
  display: flex;
  flex: 1;
  padding: 16px;
  padding-right: 5px;

  &__text {
    position: relative;
    height: 100%;
    width: 100%;
    outline: none;
    resize: none;
    border: none;
    // border: 1px solid $headerGreen;
    // border-radius: 5px;
  }

  &__toolbar {
    position: relative;
    width: 60px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.executeButton,
.cleanButton {
  width: 40px;
  height: 40px;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.button-icon {
  width: 40px;
  height: 40px;
  transition: filter 0.3s;

  &:hover {
    animation: logoImg 0.5s linear;
    filter: brightness(0.7) sepia(1) hue-rotate(140deg) saturate(6);
    transition: filter 0.3s;
  }
}

.tab-section {
  outline: none;
  resize: none;
  border: none;
  height: 100%;
  width: 100%;
}
