@import './variables';

.graphiQLPage {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 86vh;
  width: 100%;
  padding-bottom: 80px;
  flex: 1;

  &__editor {
    display: flex;
    flex-direction: column;
    border: 10px solid $backgroundGraphiQLPage;
    border-radius: 10px;
    margin: 10px 0 10px 10px;
    flex: 1 1 0%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @media screen and (width <= 800px) {
      border-radius: 3vw;
      margin: 1vw 0;
      min-height: 300px;
    }
  }

  &__response {
    display: flex;
    flex-direction: row;
    border-left: 0;
    border-radius: 10px;
    margin: 10px 32px 10px 0;
    background: $backgroundGraphiQLPage;
    overflow: scroll;
    padding: 16px;
    flex: 1 1 0%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    @media screen and (width <= 800px) {
      border-radius: 3vw;
      margin: 0;
      min-height: 500px;
      padding: 2vw 4vw;
    }
  }

  &__response-text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
  }

  @media screen and (width <= 800px) {
    flex-direction: column;
    min-height: 500px;
    height: fit-content;
  }
}

.CodeMirror {
  width: 100%;
  font-size: 18px;
}

.query-editor {
  display: grid;
  grid-template-columns: minmax(100px, 3fr) 0.5fr;
  padding: 16px;
  padding-right: 5px;
  flex: 1;

  &__text {
    position: relative;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    resize: none;
    flex: 0 0 300px;
  }

  &__toolbar {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    width: 60px;
    text-align: center;

    @media screen and (width <= 800px) {
      margin-left: 4vw;
    }
  }
}

.executeButton,
.cleanButton {
  outline: none;
  border: none;
  margin-bottom: 20px;
  height: 40px;
  width: 40px;
  padding: 0;
  cursor: pointer;
}

.button-icon {
  height: 40px;
  width: 40px;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(0.7) sepia(1) hue-rotate(140deg) saturate(6);
    transition: filter 0.3s;
    animation: logoImg 0.5s linear;
  }
}

.tab-section {
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  resize: none;
}

.tab-sectisdfon {
  overflow: auto;
}
