@import './variables.scss';

.header {
  background: #f1f1f1;
  width: 100%;
  z-index: 5;

  &__wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__line {
    border: 0.5px solid rgba($headerGreen, 0.3);
    width: 100%;
  }

  &-auth__btn {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #f1f1f1;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg, $mintGreen 50%, $headerGreen 100%);
    cursor: pointer;

    @media screen and (max-width: 800px) {
      font-size: 18px;
      margin-right: 5px;
    }
  }

  &-auth__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 2px 2px rgba($mintGreen, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &-auth__btn:hover::after {
    opacity: 1;
  }
}

.header-nav {
  width: fit-content;
  margin: 0 auto;
  color: black;

  @media screen and (max-width: 800px) {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0px;
    width: 323px;
    height: 823px;
    background: $backgroundGraphiQLPage;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  
    &.is-open {
      transform: translateX(0%);
      box-shadow: 0 0 0 9999px rgba(41, 41, 41, 0.6);
    }
  }
}

.header-nav-list {
  padding: 0;
  display: flex;
  gap: 20px;

  @media screen and (max-width: 800px) {
    display: block;
    width: 140px;
    height: 160px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &__item {
      margin-bottom: 15px;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
  animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }

  100% {
    transform: translateY(0px);
  }
}

.status {
  display: flex;
  min-width: 250px;
  align-items: center;

  @media screen and (max-width: 800px) {

    position: fixed;
    top: 90px;
    right: -10px;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      right: 0;
      transform: translateX(0%);
    }
  }
}