@import './variables.scss';

.header {
  // position: fixed;
  position: sticky;
  top: 0;
  background: #f1f1f1;
  width: 100%;
  z-index: 5;

  &__wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__line {
    border: 0.5px solid rgba($headerGreen, 0.3);
    width: 100%;
  }

  &-auth__btn {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #f1f1f1;
    padding: 5px 20px;
    margin-right: 20px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg, $mintGreen 50%, $headerGreen 100%);
    cursor: pointer;
  }

  &-auth__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 2px 2px rgba($mintGreen, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &-auth__btn:hover::after {
    opacity: 1;
  } 
}

.header-nav {
  width: fit-content;
  margin: 0 auto;
  color: black;
}

.header-nav-list {
  padding: 0;
  display: flex;
  gap: 20px;
}