@import './variables.scss';

.headers-section {
  &__inputs {
    display: flex;
    align-items: center;
  }

  &__input {
    margin: 5px;
    border: 1px solid $mintGreen;
    border-radius: 3px;
    outline-color: $mintGreen;
  }
  &__delete {
    background: url('../assets/urna.png') center/cover no-repeat;
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      animation: shake-urna 0.5s ease;
    }
  }
  &__btn-add {
    background: linear-gradient(45deg, $mintGreen 10%, $headerGreen 50%, $mintGreen 80%);
    padding: 3px 6px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
      box-shadow: 0px 0px 5px 0px rgba(30, 60, 80, 0.4);
      transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
      animation: background-gradient 2s infinite alternate;
    }
    &:active {
      transform: scale(1);
      transition: transform 0.1s ease-in-out;
    }
  }
}