.info-modal {
  &-overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 15.6%);
    height: 100vh;
    width: 100vw;
  }

  &-window {
    position: absolute;
    top: 40%;
    left: 50%;
    border-radius: 20px;
    margin-top: -100px;
    margin-left: -250px;
    background: #fff;
    height: fit-content;
    width: 500px;
    padding: 80px 30px;

    @media screen and (width <= 600px) {
      position: relative;
      top: -3vw;
      left: 0;
      margin: 0 auto;
      width: 90%;
      padding: 30vw 5vw 10vw;
    }
  }

  &-text {
    font-size: 32px;
    font-weight: 700;
    text-align: center;

    @media screen and (width <= 600px) {
      font-size: 5.5vw;
    }
  }

  &-error-message {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }

  &-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
