@import './variables';

.resetpwd {
  &__form {
    padding-bottom: 40px;
  }

  &__form-bigtext {
    font-size: 64px;
    font-weight: 900;
  }

  &__form-subtext {
    margin: 30px 0;
  }

  &__form-input {
    border: 1px solid $grey;
    border-radius: 20px;
    margin: 10px 0;
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
  }

  &__form-input:focus {
    outline-color: $dkGrey;
  }

  &__form-btn {
    position: relative;
    border-radius: 20px;
    margin: 10px 0 30px;
    background-color: black;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
  }

  &__form-btn::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    opacity: 0;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 4px 2px 3px rgba($mintGreen, 0.5);
  }

  &__form-btn:hover::after {
    opacity: 1;
  }

  &__form-link {
    font-weight: 700;
    color: $mintGreen;
  }
}
