@import './animation.scss';
@import './fonts.scss';
@import './normalize.css';

$headerGreen: rgb(54, 168, 168);
$backgroundGraphiQLPage: #f1f1f1;
$panelontentShadow: rgba(0, 0, 0, 0.3) -1px 1px 6px 0px;
$panelColor: rgb(255, 255, 255);
$panelButtonBackgroundColor: $headerGreen;
$cubicBezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$headerGreenHoverButton: rgb(75, 194, 192);
$mintGreen: #43c69a;
$grey: #c3c2c2;
$lightGrey: #f1f1f1;
$dkGrey: #969696;