@import './variables.scss';

.hero {
    background: url('../assets/signIn-background-1.jpg') center/cover no-repeat;
    
    &__container {
        height: 600px;
    }

    &__info {
        padding: 150px 0;
        width: 1000px;
        margin: 0 auto;
        text-align: center;
    }

    &__button {
        width: 200px;
        height: 50px;
        margin-top: 50px;
        background: $headerGreen;
        color: $panelColor;
        border: 1px solid hsla(0, 0%, 100%, .4);
        border-radius: 6px;
        font-size: 17px;
        font-weight: 600;
        line-height: 1;
        cursor: pointer;
        transition: all 0.5s;        
    }

    &__button:hover {
        background: $headerGreenHoverButton;
        transform: scale(1.05);
    }
}

.aboutProject {
    padding-top: 20px;
    background: $backgroundGraphiQLPage;

    &__container {
        display: flex;        
        padding: 0;    
        flex-wrap: wrap;
    }

    &__item {
        display: block;
        width: 440px;
        margin: 0 10px;
    }

    &__main-title {
        text-align: center;
        margin-bottom: 20px;
    }

    &__img-query {
        background: url('../assets/query-language.png') center/cover no-repeat;
        height: 300px;
    }

    &__img-what-you-need {
        background: url('../assets/Ask-for-what-you-need.jpg') center/cover no-repeat;
        height: 300px;
    }

    &__img-request {
        background: url('../assets/rest-and-graph.jpg') center/cover no-repeat;
        height: 300px;
    }

    &__info {
        margin-top: 15px;
    }

    &__title {
        font-size: 22px;
    }

    &__text {
        margin-top: 15px;
    }
}

.aboutCourse {
    display: flex;
    padding-top: 20px;

    &__title {
        text-align: center;
    }

    &__img {
        background: url('../assets/rs_school_js.svg') center no-repeat;
        width: 200px;
        height: 145px;
        background-size: contain;
        cursor: pointer;
        transition: all 0.5s;
        margin: 15px;
        margin-right: 50px;

        &:hover {            
            transform: scale(1.05);
        }
    }

    &__info {
        display: flex;
    }

    &__block {
        width: 600px;
        align-items: center;
    }

    &__text {
        margin-top: 15px;
    }

    &__name {        
        font-weight: 500;
    }

    &__RSlink {
        color: #0080ff !important;
        font-weight: 500;
        text-decoration: none;
        background-color: transparent;

        &:hover {
            color: #005ab3;
            text-decoration: underline;
        }
    }        
}

.team {
    padding: 20px 0;
    background: $backgroundGraphiQLPage;

    &__container {
        display: block;
        text-align: center;
    }

    &__img-Sasha {
        background: url('../assets/girl.jpg') center/cover no-repeat;
        height: 300px;
    }

    &__img-Alixei {
        background: url('../assets/Alexei.jpg') center/cover no-repeat;
        height: 300px;
    }

    &__img-Anatoliy {
        background: url('../assets/Anatoliy.jpg') center/cover no-repeat;
        height: 300px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        justify-content: center;
    }

    &__item {
        background: $panelColor;
        width: 270px;
        margin: 15px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__info {
        padding: 20px 0;
    }

    &__name {
        margin-bottom: 10px;
    }

    &__contacts {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    &__contacts-icon {
        display: flex; 
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    &__chome {
        background: url('../assets/icon-chrome.png') center/cover no-repeat;
        width: 30px;
        height: 30px;
        transition: all 0.5s;
        
        &:hover {
            transform: scale(1.2);
        }
    }

    &__telegram {
        background: url('../assets/icons-telegram.png') center/cover no-repeat;
        width: 30px;
        height: 30px;  
        transition: all 0.5s;
        
        &:hover {
            transform: scale(1.2);
        }
    }

    &__discord {
        background: url('../assets/icons-discord.png') center/cover no-repeat;
        width: 30px;
        height: 30px;  
        transition: all 0.5s;
        
        &:hover {
            transform: scale(1.2);
        }
    }

    &__github {
        background: url('../assets/icons-github.png') center/cover no-repeat;
        width: 30px;
        height: 30px;
        transition: all 0.5s;
                
        &:hover {
            transform: scale(1.2);
        }
    }
}